:root {
  --color-dark: #000000;
  --color-gray: #777777;
  --color-gray-alt: #E6E6E6;
  --color-light: #ffffff;
  --color-yellow: #f8f200;
  --color-blue: #52BEDC;

  --font-family-base: 'Roboto', sans-serif;

  --container-width: 1280px;
  --container-padding-x: 12px;

  --section-padding-y: 70px;

  --input-height: 35px;
  --button-height: 60px;
  --button-height-large: 78px;

  --transition-duration: 0.4s;
}